<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Your Profile</title>
     <%- css.style %>
</head>     
<body id="pageprofil">
<% include header.ejs %>
<!-- faudra mettre la barre de recherche avec des filtres ici -->
<input type="button" value="Show Filters" onclick="showFiltres()" class="buttonfiltres"/>
<div class="filtres" id="filtres" style="display:none;">
	<form action="/peers" method="post">
		 <div class="filtre_option">
		 	<label class="minititle"> Age : </label><label>Between <input  style="width: 40px;" class="profilebox" type="number" name="agemin"> and <input  style="width: 40px;" type="number" class="profilebox" name="agemax"> Years Old.</label>
		 </div>
		 <div class="filtre_option">
		 	<label class="minititle"> Score : </label><label>Between <input  style="width: 40px;" class="profilebox" type="number" name="scoremin"> and <input  style="width: 40px;" type="number" class="profilebox" name="scoremax"> .</label>
		 </div>
		 <div class="filtre_option">
		 	<label class="minititle"> Localisation : </label><label>Maximum <input  style="width: 40px;" class="profilebox" type="number" name="distance"> km.</label>
		 </div>
		 <div class="filtre_option">
		 	<label class="minititle"> Tags : </label><textarea class="profilebox" type="text" placeholder="(separate by ';')"></textarea>
		 </div><br/>
		 <input type="submit" value="Set Filters" class="buttonfiltres"/>
	</form>
</div>
<div class="sort">
	<form action="/peers" method="post">
		<label>Sort by : </label>
		<select class="profilebox" name="tri" style="width: 80px">
				<option>None</option>
	            <option>Age</option>
	            <option>Score</option>
	            <option>Location</option>
	            <option>Tags</option>
	    </select>
	    <input type="submit" name="submitri" value="Set">
	</form>
</div>
<div class='peerbox'>
	<% var i = 0; while (peer[i]) { %>
	<a class="peer white2" href='<%-'/user_profile/' + peer[i].id %>' style="text-decoration:none">
		<p><b><%-peer[i].login%></b> </p>
		<img src='<%- peer[i].img1 %>' class=peerimg>
		<p><%- peer[i].firstname + ' ' + peer[i].lastname%> </p>
		<p> <%- peer[i].gender  + ' | ' + peer[i].orientation %><br/><i><%- '  Age: ' + peer[i].age%></i><br/>
		<%- 'Score : ' + peer[i].score + ' | ' + parseInt(peer[i].distance, 10) + ' km' %> </p>
	</a>
	<% i++; } %>
</div>
<script>
	function showFiltres() {
		if (document.getElementById('filtres').style.display == 'none')
   			document.getElementById('filtres').style.display = "block";
		else
			document.getElementById('filtres').style.display = "none";
}
</script>
</body></html>